body {
  background-image: url("https://i.pinimg.com/736x/a4/f0/c7/a4f0c71145b19a95ce94ba07ccdf3cdc.jpg");
  background-color: hsla(0, 0%, 93%, 0);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("supermarket-interior-shelf_165488-3982.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 { background-image: url("https://i.pinimg.com/736x/a4/f0/c7/a4f0c71145b19a95ce94ba07ccdf3cdc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 30px;
}


