body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL6kYGPeGm87UW2EIe9mfA4W0YEJX5kEoQNw&s");
  background-color: hsla(0, 0%, 93%, 0);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("supermarket-interior-shelf_165488-3982.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
}


